@use './helpers/variables' as *;
@use './helpers/extends/extends' as *;

.footer {
	background-color: #12161f;
	height: 35rem;
}

.footer__w {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__socials {
	display: flex;
	align-items: center;
	column-gap: 3rem;
	margin-bottom: 5.8rem;
}

.footer__socials_icon {
	display: block;
	width: 2.6rem;
	height: 2.6rem;
}

.footer__socials_icon_img {
	@extend %contain_img;
}

.footer__content {
	font-family: $font_1;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.7);
}

.footer__row_title {
	font-family: $font_1;
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.26;
	color: $color_white;
	margin-bottom: 4rem;
}

.footer__row_text {
	font-family: $font_1;
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 1.26;
	color: rgba(255, 255, 255, 0.75);

	text-decoration: none;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: $color_accent;
	}
}

.footer__row_text_w {
	margin-bottom: 2.5rem;
}

.footer__row_contacs {
	font-family: $font_1;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.26;
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
	transition: all .3s ease-in-out;

	&:hover {
		color: $color_accent;
	}
}

.footer__row_photo {
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
	margin-bottom: 2.2rem;
}

.footer__row_photo_icon {
	display: block;
	width: 2.6rem;
	height: 2.6rem;
}

.footer__row_mail_icon_img {
	@extend %contain_img;
}

.footer__row_contacs_num {
	margin-bottom: 2.2rem;
}

.footer__row_contacs_number {
	font-family: $font_1;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.26;
	color: rgba(255, 255, 255, 0.85);
	padding-left: 4rem;
	text-decoration: none;

	transition: all .3s ease-in-out;

	&:hover {
		color: $color_accent;
	}
}
