@use './helpers/variables' as *;
@use './helpers/extends/extends' as *;

// header-------------------

.header__w {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 18.2rem;
}

.logo__icon {
	display: block;
	width: 26rem;
	height: 3.5rem;
	flex-shrink: 0;
}

.logo__icon_img {
	@extend %contain_img;
}

.phone_navigation__w {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8rem;
}

.phone {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1.5rem;
}

.phone__icon {
	display: block;
	width: 2.6rem;
	height: 2.6rem;
	flex-shrink: 0;
}

.phone__icon_img {
	@extend %contain_img;
}

.phone__number {
	font-family: $font_1;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.26;
	text-align: right;
	text-decoration: none;
	color: $color_white;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1.5rem;
}

.menu__text {
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.26;
	text-align: right;
	color: $color_white;
}

// burger_menu---------------

.nav {
	position: fixed;
	z-index: 998;

	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: #818fa6;
	display: flex;

	transition: all 0.3s ease-in-out;
	overflow: auto;

	transform: translateX(-100dvw);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.nav.active {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.nav_close {
	display: block;
	position: absolute;
	z-index: 999;
	top: 6.8rem;
	left: 2rem;

	height: 5rem;
	width: 5rem;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../imgs/header/nav_cross.svg);
	border: none;

	cursor: pointer;
}

.nav__list {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	align-items: center;
	row-gap: 3rem;
	margin: auto;
	text-align: center;
}

.nav__link {
	font-size: 2.3rem;
}

.menu_button {
	display: block;

	width: 4rem;
	height: 3rem;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../imgs/header/burger_menu.svg);
	border: none;

	cursor: pointer;
}

.body.body--overflow_hidden {
	overflow: hidden;
}

// burger_menu###############

// header####################

// hero----------------------

.hero__title {
	font-family: $font_3;
	font-size: 6.4rem;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.02em;

	color: $color_white;
	margin-bottom: 3.5rem;
}

.hero__descr {
	font-family: $font_1;
	font-size: 2.6rem;
	font-weight: 300;
	line-height: 1.54;

	color: $color_white;
	margin-bottom: 11.7rem;

	& span:nth-of-type(1) {
		font-weight: 800;
		color: $color_accent;
	}
	& span:nth-of-type(2) {
		font-weight: 600;
		color: $color_accent;
	}
}

.hero__btns {
	display: flex;
	column-gap: 4rem;
	margin-bottom: 5rem;
}

.discount_data_w {
	display: flex;
	align-items: center;
	column-gap: 11.4rem;
}

.discount_data {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 2rem;
}

.discount_data__icon {
	display: block;
	width: 5.5rem;
	height: 5.5rem;
	flex-shrink: 0;
}

.discount_data__icon_img {
	@extend %contain_img;
}

.discount__data_text_w {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.discount__text {
	font-family: $font_1;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1.27;
	letter-spacing: 0.04em;
	color: $color_white;
	margin-bottom: 0.5rem;

	& span:nth-of-type(1) {
		font-weight: 700;
	}
}

.data__text {
	font-family: $font_1;
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1.27;
	letter-spacing: 0.04em;
	color: $color_white;
	margin-bottom: 0.5rem;

	& span:nth-of-type(1) {
		font-weight: 600;
	}
}

.discount_data__descr {
	font-family: $font_1;
	font-size: 1.8rem;
	line-height: 1.26;
	color: $color_white;
}

// hero######################
