@use './helpers/abstracts' as *;

html {
	font-size: 10px;

	@media (min-width: 1499.98px) and (max-width: 1799.98px) {
		font-size: 8px;
	}
	@media (min-width: 1319.98px) and (max-width: 1499.98px) {
		font-size: 7px;
	}
	@media (min-width: 1149.98px) and (max-width: 1319.98px) {
		font-size: 6px;
	}
	@media (min-width: 1023.98px) and (max-width: 1149.98px) {
		font-size: 5px;
	}
}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	padding: 8rem 0;
	width: 100%;

	&.section--about {
		background-color: #f9f9fb;
		padding: 4rem 0 8rem 0;
	}

	&.section--header {
		padding: 4rem 0 0 0;
		position: relative;
		background: radial-gradient(50% 50% at 50% 50%, rgba(7, 28, 85, 0.2) 66.15%, rgba(7, 28, 85, 0.4) 100%),
			url(../imgs/header/main_bg.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		margin-bottom: -16.9rem;
		z-index: 5;
	}

	&.section--form {
		padding: 8rem 0 0 0;
		position: relative;
		background-image: url(../imgs/form/form_bg.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 41.5rem;
		z-index: 5;
		margin-bottom: -30rem;
	}

	&.section--question {
		padding: 8rem 0;
		position: relative;
		background-image: url(../imgs/form/form_bg.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 85.4rem;
		z-index: 5;
	}

	&.section--footer {
		padding: 7rem 0;
	}
}

.container {
	padding: 0 2rem;
	max-width: 168rem;
	width: 100%;

	margin: 0 auto;

	&.container--gallery {
		padding: 0 0;
		max-width: 192rem;
	}

	&.container--footer {
		max-width: 192rem;

		@media (min-width: $point_2) {
			padding: 0 7rem;
		}

		@media (max-width: $point_3) {
			padding: 0 7rem;
		}
	}
}

.main_title {
	font-family: $font_3;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: 6rem;
	color: $color_title;

	&--form {
		color: $color_white;
	}

	@media (min-width: $point_4) {
		font-size: 4.7rem;
	}

	@include bp($point_5) {
		font-size: 2.8rem;
	}
}

.logo.logo--footer {
	margin-bottom: 4rem;

	@media (max-width: $point_3) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
